html,
body {
  margin: 0;
  padding: 0;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 24px;
  color: #46474e;
  font-family: -apple-system, Inter, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html {
  /* Prevents page from jumping with scrollbar */
  overflow-y: scroll;
}

* {
  box-sizing: border-box;
  transition-property: color, border-color, background-color, opacity, outline;
  transition-duration: 0.3s;
}

div,
span,
input,
button {
  font-family: -apple-system, Inter, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  padding: 0;
  margin: 0;
}

p {
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
  user-select: none;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.25;
}

main {
  min-height: 100vh;
}
